<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        
        <!--Captcha script-->
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <!-- Bootstrap core CSS -->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

        <!-- Custom styles for this template -->
        <link href="css/index.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">
        <title>NeoSurvey</title>
        
        <!-- Captcha JavaScript -->
        <script type="text/javascript">
          var onloadCallback = function() {
            grecaptcha.render('html_element', {
              'sitekey' : '6LfxDkQUAAAAAFKMje1s64nznGbQmv9oqRU0yzHE'
            });
          };
        </script>
    </head>
    <body id="page-top">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">NeoSurvey</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#download">Download</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                        </li>
                     </ul>
                </div>
            </div>
        </nav>
        <header class="masthead">
          <div class="intro-body">
            <div class="container">
              <div class="row">
                <div class="col-lg-8 mx-auto">
                  <h1 class="brand-heading">NeoSurvey</h1>
                  <p class="intro-text">Bringing people together.
                      <br>Powered the by NEO blockchain
                    </p>
                    <button class="btn-sign" type="button" data-toggle="collapse" data-target="#signInResponsive" aria-controls="signInResponsive" aria-expanded="false" aria-label="Toggle sign-in">
                        <i class="fa fa-group"></i> CREATE
                    </button>
                    
                    <button class="btn-sign" type="button" data-toggle="collapse" data-target="#signUpResponsive" aria-controls="signUpResponsive" aria-expanded="false" aria-label="Toggle sign-up">
                        TAKE
                    <i class="fa fa-handshake-o"></i>
                    </button><br>
                    <div class="collapse sign-collapse" id="signInResponsive">
                        <form class="signForm">
                            <div class="input_fields_wrap">
                                <i href="#" class="add_field_button fa fa-plus"></i>
                                <i href="#" class="fa fa-minus remove_field"></i>
                            </div><br><div class="g-recaptcha modcaptcha" data-sitekey="6LfxDkQUAAAAAFKMje1s64nznGbQmv9oqRU0yzHE" data-theme="dark"></div><br>
                            <button class="formSubmit" type="submit">Submit</button>
                        </form>
                    </div><div class="collapse sign-collapse" id="signUpResponsive">
                        <form class="signForm">
                            <input class="formInput" type="text" name="pubkey" value placeholder="Enter your Neo Public Key" data-original-placeholder="Enter your Neo Public Key"><br>
                            <input class="formInput" type="password" name="password" value placeholder="Enter your NeoServey NIP" data-original-placeholder="Enter your NeoServey NIP"><br>
                            <input class="formInput" type="password" name="password" value placeholder="Confirm your NeoServey NIP" data-original-placeholder="Confirm your NeoServey NIP"><br>
                            <div class="g-recaptcha modcaptcha" data-sitekey="6LfxDkQUAAAAAFKMje1s64nznGbQmv9oqRU0yzHE" data-theme="dark"></div><br>
                            <button class="formSubmit" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </header>
        
        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Custom scripts for this template -->
        <script src="js/grayscale.min.js"></script>
        <script src="js/littlemain.js"></script>
        
        <!-- Captcha JavaScript -->
        <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer></script>
    </body>
</html>
