<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CV - Guillaume Beaudoin</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/resume.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Guillaume Beaudoin</span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/profile.jpg" alt="">
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">&Agrave; propos de moi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#experience">Exp&eacute;riences</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#education">&Eacute;ducation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#skills">Autres comp&eacute;tences</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#interests">Int&eacute;r&ecirc;ts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#awards">Prix</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid p-0">

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <h1 class="mb-0">Guillaume
            <span class="text-primary">Beaudoin</span>
          </h1>
          <div class="subheading mb-5">Laval, QC, CA - 
            <a href="mailto:glbeaudoin@0outlook.com">Courriel</a>
          </div>
          <p class="lead mb-5">I am experienced in leveraging agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
          <div class="social-icons">
            <a href="https://www.linkedin.com/in/glbeaudoin/">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="#">
              <i class="fab fa-github"></i>
            </a>
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
          </div>
        </div>
      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
          <h2 class="mb-5">Experiences</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Auxiliaire d'enseignement</h3>
              <div class="subheading mb-3"><a href="https://www.umontreal.ca/" class="compagny">Université de Montreal</a></div>
              <p>Démonstrateur pour le <a href="https://admission.umontreal.ca/cours-et-horaires/cours/chm-1501/">CHM 1501</a>. Préparation des laïus, correction des rapports et assistance/surveillance lors des manipulations au laboratoire d'enseignement.</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Automne 2018</span>
            </div>
          </div>
        <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Tuteur en chimie</h3>
              <div class="subheading mb-3"><a href="https://www.umontreal.ca/" class="compagny">Université de Montreal</a></div>
              <p>Assistance aux étudiants en difficulté pour les cours de chimie organique</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Hiver 2018</span>
            </div>
          </div>
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Stagiaire en recherche et developpement</h3>
                <div class="subheading mb-3"><a href="http://www.ruetgers-polymers.com/">Ruetgers Polymers Ltée</a></div>
                <ul>
                <li>Développement de nouvelles méthodes visant la valorisation de la lignine</li>
                <li>Développement de nouveaux dispersants écologiques pour le béton et le gypse</li>
                <li>Développement de nouvelles méthodes d’analyse pour les produits synthétisés en R&D</li>
                <li>Participation à d’autres projet du département (santé-sécurité et gestion de produit chimique)</li>
                </ul>
            <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
                <a href="http://www.nserc-crsng.gc.ca/Students-Etudiants/UG-PC/Experience-Experience_fra.asp">Bourse Expérience</a> - Conseil de recherche en sciences naturelles et en génie du Canada (CRSNG)
            </li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i><a href="http://www.frqnt.gouv.qc.ca/fr/bourses-et-subventions/concours-anterieurs/bourse/supplements-aux-bourses-experience-du-crsng-bpci--fhleuq991462908716157">Suppléments aux bourses Expérience du CRSNG</a>
             - Fonds de recherche du Québec - Nature et technologies (FRQNT)
            </li>
            </ul>
            </br>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Été 2017</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Stagiaire en recherche et developpement</h3>
              <div class="subheading mb-3"><a href="https://www.umontreal.ca/" class="compagny">Université de Montreal</a>- <a href="https://www.webdepot.umontreal.ca/Usagers/badiaa/MonDepotPublic/about-antonella-badia.html" class="compagny">Groupe Prof. Badia</a></div>
                <ul>
                <li>Analyse de monocouches auto-assemblées par voltampérométrie cyclique (VC) et par    spectroscopie de résonnance de plasmon de surface (SPR)</li>
                <li>Inventaire des produits chimiques du groupe</li>
                </ul>
            <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
            Bourse <a href="http://www.calendrier.umontreal.ca/detail/723059-presentations-par-les-stagiaires-sretant-merite-une-bourse-arthur-yelonjohn-brebner-bourse-du-gcm-au-cours-de-lrete-2016">Arthur Yelon - John Low Brebner</a> - Regroupement québécois en recherche sur les matériaux de pointe (RQMP)
            </li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
                Publication - <a href="https://pubs.acs.org/doi/abs/10.1021/acs.jpcc.7b08053">J. Phys. Chem. C</a>
            </li>
            </ul>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Été 2016</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Opérateur de machine</h3>
              <div class="subheading mb-3"><a href="http://www.kraftcanada.com/">The Kraft Heinz Company</a></div>
                <ul>
                  <li>L’opérateur de production travaille sur des équipements et/ou des systèmes informatisés nécessaires à la fabrication de produits alimentaires.</li>
                  <li>S'assure de l'atteinte des résultats fixés sur la ligne de production</li>
                </ul>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">Été 2015</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row"></br>
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Tuteur en chimie</h3>
              <div class="subheading mb-3">Cégep de St-Laurent</div>
              <p>*****</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary"> Automne 2014 - Hiver 2015</span>
            </div>
          </div>
        </div>

      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
        <div class="my-auto">
          <h2 class="mb-5">Éducation</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Université de Montréal</h3>
              <div class="subheading mb-3">Maîtrise Ès Sciences - <a href="https://en.chimie.umontreal.ca/department-directory/vue/zhu-xiaoxia/">Prof. Zhu</a></div>
              <div>Chimie - Polymères et biopolymères</div>
                <ul>
                    <li>
                        Caractérisation de polymère thermosensible de type UCST
                    </li>
                    <li>
                        Biotransformation du poly(acrylonitrile) en poly(acrylamide) par conversion enzymatique
                    </li>
                </ul>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2018 - Maintenant</span>
            </div>
          </div>
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Université de Montréal</h3>
              <div class="subheading mb-3">Baccalauréat Ès Sciences</div>
              <div>Chimie - Général</div>
              <p>********</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2015 - 2018</span>
            </div>
          </div>
        </div>
      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">
          <h2 class="mb-5">Compétences</h2>
          <div>
          
          </div>
          <div class="subheading mb-3">Programming Languages &amp; Tools</div>
          <ul class="list-inline dev-icons">
            <li class="list-inline-item">
              <i class="fab fa-html5"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-css3-alt"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-js-square"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-angular"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-react"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-node-js"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-sass"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-less"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-wordpress"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-gulp"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-grunt"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-npm"></i>
            </li>
          </ul>

          <div class="subheading mb-3">Workflow</div>
          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-check"></i>
              Mobile-First, Responsive Design</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Cross Browser Testing &amp; Debugging</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Cross Functional Teams</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Agile Development &amp; Scrum</li>
          </ul>
        </div>
      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
        <div class="my-auto">
          <h2 class="mb-5">Interests</h2>
          <p>Apart from being a web developer, I enjoy most of my time being outdoors. In the winter, I am an avid skier and novice ice climber. During the warmer months here in Colorado, I enjoy mountain biking, free climbing, and kayaking.</p>
          <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in the front-end web development world.</p>
        </div>
      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
        <div class="my-auto">
          <h2 class="mb-5">Awards &amp; Certifications</h2>
          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              Google Analytics Certified Developer</li>
          </ul>
        </div>
      </section>

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/resume.min.js"></script>

  </body>

</html>
